@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;500;700;900&display=swap');

:root {
  --background: #050816;
  --card: #111827;
  --primary: #00d4ff;
  --text: #ffffff;
  --muted: #94a3b8;
  --success: #22c55e;
  --danger: #ef4444;
}


* {
  box-sizing: border-box;
}


html {
  direction: rtl;
}


body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--text);
  font-family: "Vazirmatn", sans-serif;
}



main {
  max-width: 1200px;
  margin: auto;
  padding: 30px;
}



h1 {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 15px;
}


h2 {
  margin-top: 35px;
  color: var(--primary);
}


h3 {
  margin-top: 15px;
}



p {
  color: var(--muted);
  line-height: 1.8;
}



section {
  background: var(--card);
  padding: 25px;
  border-radius: 18px;
  margin-top: 25px;
  border: 1px solid #1e293b;
}



button {
  background: var(--primary);
  color: #000;
  border: none;
  padding: 12px 22px;
  border-radius: 10px;
  cursor: pointer;
  margin: 8px;
  font-weight: bold;
}


button:hover {
  opacity: 0.8;
}



a {
  color: white;
  text-decoration: none;
  margin: 8px;
}



input,
textarea,
select {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #334155;
  background: #0f172a;
  color: white;
}



nav {
  background: #0f172a;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



@media (max-width: 768px) {

  main {
    padding: 15px;
  }


  h1 {
    font-size: 28px;
  }


  nav {
    flex-direction: column;
  }

}
